<div>
  <mat-toolbar color='primary'>
    <span>Testing Application</span>
  </mat-toolbar>

  <table mat-table [dataSource]='dataArray'>
    <ng-container matColumnDef='id'>
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{user.id}}</td>
    </ng-container>
    <ng-container matColumnDef='name'>
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{user.name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="col3umnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>